[package]
name = "facet-toml"
version = "0.30.0"
edition = "2024"
rust-version = "1.87.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/facet-rs/facet-toml"
description = "TOML serialization and deserialization for Facet types"
keywords = ["toml", "serialization", "deserialization", "reflection", "facet"]
categories = ["encoding", "parsing", "data-structures"]

[package.metadata.docs.rs]
rustdoc-args = ["--html-in-header", "docs/meta/highlight.html"]

[features]
deserialize = ["alloc", "toml_edit/parse"]
serialize = ["alloc", "dep:toml_edit", "toml_edit/display"]
std = [
    "alloc",
    "facet-core/std",
    "facet-reflect/std",
    "num-traits/std",
]
alloc = ["facet-core/alloc", "facet-reflect/alloc"]
rich-diagnostics = ["dep:ariadne", "std"]
default = ["deserialize", "serialize", "std", "rich-diagnostics"]

[dependencies]
ariadne = { version = "=0.5.1", optional = true }
log = "0.4.27"
num-traits = { version = "0.2.19", default-features = false }
toml_edit = { version = "0.22.27", default-features = false, features = [
    "parse",
], optional = true }
facet-core = { path = "../facet-core", default-features = false }
facet-reflect = { path = "../facet-reflect", default-features = false }
owo-colors = "4.2.2"

[dev-dependencies]
eyre = "0.6.12"
facet = { path = "../facet" }
facet-testhelpers = { path = "../facet-testhelpers" }
