[workspace]
members = [
    # core
    "facet-core",
    "facet-core-proc-macros",
    "facet",

    # derive macro
    "facet-macros-parse",
    "facet-macros-emit",
    "facet-macros",

    # reflection
    "facet-reflect",

    # constraint solver
    "facet-solver",

    # test helpers
    "facet-testhelpers",
    "facet-testhelpers-macros",

    # pretty printing
    "facet-pretty",

    # format crates
    "facet-json",
    "facet-kdl",
    "facet-yaml",
    "facet-toml",
    "facet-args",
    "facet-msgpack",
    "facet-urlencoded",
    "facet-csv",
    "facet-xdr",
    "facet-asn1",

    # utilities
    "facet-diff",
    "facet-assert",
    "facet-value",

    # showcase infrastructure
    "facet-showcase",
]
resolver = "3"

[workspace.package]
edition = "2024"
rust-version = "1.87.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/facet-rs/facet"
