[package]
name = "facet-inspect"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
facet = { path = "../facet", version = "0.27.15" }
facet-reflect = { path = "../facet-reflect", version = "0.27.15" }
