[package]
name = "facet-msgpack"
version = "0.28.0"
edition = "2024"
rust-version = "1.87"
license = "MIT OR Apache-2.0"
repository = "https://github.com/facet-rs/facet-msgpack"
description = "MessagePack serialization and deserialization for Facet types"
keywords = [
    "msgpack",
    "serialization",
    "deserialization",
    "reflection",
    "facet",
]
categories = ["encoding", "parsing", "data-structures"]

[features]
default = []
serialize = ["dep:facet-serialize"]

[dependencies]
facet-core = { path = "../facet-core" }
facet-reflect = { path = "../facet-reflect" }
log = "0.4.27"
facet-serialize = { version = "0.31", optional = true }

[dev-dependencies]
facet = { path = "../facet" }
facet-testhelpers = { path = "../facet-testhelpers" }
eyre = "0.6.12"
insta = "1.43.1"
rmp-serde = "1.3"
serde = { version = "1.0", features = ["derive"] }
