[package]
name = "facet-csv"
version = "0.31.0"
edition = "2024"
rust-version = "1.89.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/facet-rs/facet"
description = "A CSV deserializer and serializer for the facet ecosystem"
keywords = ["csv", "serialization", "deserialization", "reflection", "facet"]
categories = ["encoding", "parser-implementations"]

[package.metadata.docs.rs]
rustdoc-args = ["--html-in-header", "docs/meta/highlight.html"]

[features]
ci = [] # CI feature
std = ["facet-core/std", "facet-reflect/std"]
default = ["std"]

[dependencies]
facet-core = { path = "../facet-core", default-features = false }
facet-reflect = { path = "../facet-reflect", default-features = false }

[dev-dependencies]
eyre = "0.6.12"
facet = { path = "../facet" }
facet-testhelpers = { path = "../facet-testhelpers" }
insta = "1.43.1"
