[package]
name = "facet-pretty"
version = "0.33.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
description = "Pretty-printing for Facet types with syntax highlighting and customizable formatting"
keywords = [
    "pretty-print",
    "formatting",
    "reflection",
    "serialization",
    "visualization",
]
categories = ["development-tools", "visualization", "command-line-utilities"]
homepage = "https://facet.rs"

[package.metadata."docs.rs"]
rustdoc-args = ["--html-in-header", "arborium-header.html"]

[features]
alloc = ["facet-core/alloc", "facet-reflect/alloc"] # Enables alloc support
camino = ["alloc", "facet-core/camino"]

[dependencies]
facet-core = { path = "../facet-core", version = "0.33.0", features = ["auto-traits", "bytes", "chrono", "fn-ptr", "indexmap", "jiff02", "net", "nonzero", "num-complex", "ordered-float", "ruint", "simd", "time", "tuples-12", "ulid", "url", "uuid"] }
facet-reflect = { path = "../facet-reflect", version = "0.33.0", features = ["miette"] }
owo-colors = "4"

[dev-dependencies]
camino = { workspace = true } #unified
facet = { workspace = true, features = ["bytes", "camino", "chrono", "jiff02", "net", "nonzero", "ordered-float", "time", "ulid", "uuid"] } #unified
facet-showcase = { path = "../facet-showcase" }
facet-testhelpers = { path = "../facet-testhelpers" }
insta = { workspace = true } #unified
miette = { workspace = true, features = ["derive", "fancy-no-backtrace"] } #unified
