[package]
name = "facet-args"
version = "0.30.0"
edition = "2024"
rust-version = "1.87"
license = "MIT OR Apache-2.0"
repository = "https://github.com/facet-rs/facet-args"
description = "Command-line argument parsing for the facet ecosystem"
documentation = "https://docs.rs/facet-args"
keywords = ["cli", "args", "parser", "facet"]
categories = ["command-line-interface"]

[dependencies]
facet-reflect = { version = "0.31" }
facet-core = { version = "0.31" }
log = "0.4.28"
heck = "0.5.0"
miette = { version = "7.6.0", default-features = false }

[dev-dependencies]
cargo-husky = { version = "1.5.0", default-features = false, features = [
    "user-hooks",
] }
eyre = "0.6.12"
facet = { version = "0.31" }
facet-pretty = { version = "0.31" }
insta = "1.44.1"
miette = { version = "7.6.0", default-features = false, features = ["fancy"] }

[features]
default = ["rich-diagnostics"]
rich-diagnostics = []
