spec {
   name "rapace"
   prefix "r"
   include "docs/content/spec/**/*.md"

   impl {
      name "rust"
      include "rust/**/*.rs"
      include "spec/**/*.rs"
      exclude "target/**"
   }
   impl {
      name "swift"
      include "swift/**/*.swift"
   }
   impl {
      name "typescript"
      include "typescript/**/*.ts"
      include "typescript/**/*.js"
   }
   impl {
      name "go"
      include "go/**/*.go"
   }
   impl {
      name "java"
      include "java/**/*.java"
   }
   impl {
      name "python"
      include "python/**/*.py"
   }
}

spec {
   name "shm"
   prefix "shm"
   include "docs/content/shm-spec/**/*.md"

   impl {
      name "rust"
      include "crates/**/*.rs"
      include "rust/**/*.rs"
      exclude "target/**"
   }
}

spec {
   name "rust"
   prefix "rs"
   include "docs/content/rust-spec/**/*.md"

   impl {
      name "rust"
      include "crates/**/*.rs"
      include "rust/**/*.rs"
      exclude "target/**"
   }
}
